/* make scrolling smooth */
html {
    scroll-behavior: smooth;
}

/* 
 get rid of padding & sizing on body so
 header is at top
*/
main {
    padding: 2vw;
}

/* add some padding back to rest of page */

body {
    padding: 0px;
    margin: 0px;
}

/* navbar */

.navbar {
    border: solid black;
    background-color: rgb(48, 48, 48);
    color: rgb(219, 179, 92);
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100vw;
    margin: 0px;
}

.logo h1 {

    color: rgb(105, 180, 255);
    font-weight: bolder;
    font-style: italic;

}

/* logo */

.logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.logo-title {

    border: solid rgb(254, 214, 129);
    background-color: rgb(48, 48, 48);
    padding: 15px;
    display: flex;
    flex-direction: row;

}

/* navigation list */

.navbar-links li {

    border: solid black;
    background-color: rgb(48, 48, 48);
    font-weight: bold;
    list-style: none;
    padding: 1rem 2.5px;
    display: flex;


}

/*  
 style all a tags in header 
 and then on hover
*/


.navbar-links a {

    color: whitesmoke;
    font-size: 1.5rem;
    padding: 1rem 1.25rem;
    letter-spacing: 2px;
    text-decoration: none;

}

.navbar-links a:hover {

    color: rgb(255, 200, 81);

}

/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/

@media screen and (min-width:1000px) {

    .navbar {

        flex-direction: row;

    }

    .navbar ul {

        display: flex;

    }

}

@media screen and (max-width:400px) {

    .hamburger {

        display: block;
        cursor: pointer;

    }

    .hamburger .ul {

        padding: 0;

    }

    .hamburger .line {

        width: 30px;
        height: 3px;
        background-color: #ffffff;
        margin: 12px 0;

    }

    header {
        margin-bottom:100px;
    }

    .navbar-links {

        /*display: 75%;
        
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        */
    }

    .navbar ul {
        padding:0px;
        /*
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        */
    }

}