body {

    background-color: rgb(255, 221, 111);
    font-family: 'Fira Sans', sans-serif;
    color: white;

}

h1 {

text-align: center;
background-color: rgb(48, 48, 48);
border-radius: 15px;
color: wheat;
max-width: 400px;
margin-left: auto;
margin-right: auto;
padding-right: 25px;
padding-left: 25px;
font-weight: bolder;

}

h2 {

    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;

}

/* Image of cartoon student */

#biography {

text-align: center;

}

#biography img {

max-width: 50%;
max-height: 50%;
margin-top: 1em;
border: solid rgb(255, 221, 111);
background-color:rgb(109, 96, 53);
border-radius: 1000px;

}

#biography div {

text-align: center;
border: solid black;
border-radius: 50%;
background-color: rgb(48, 48, 48);
color:rgb(255, 232, 156);
max-width: 400px;
margin-left: auto;
margin-right: auto;
margin-bottom: 2rem;
padding-right: 15px;
padding-left: 15px;
font-size: large;

}

header {

width: 100px;
height: 100px;

}

/*Photo gallery*/
#photos {

background-color:rgb(109, 96, 53);
border: solid black;
border-radius: 25%;
position: relative;
margin-left: auto;
margin-right: auto;
margin-bottom: 4rem;
padding: 5px;

}

#photos figure {

text-align: center;

}

.comiccon {

    width: 550px;
    height: 550px;

}

.sketch {
    
    width: 550px;
    height: 550px;

}

.ps4 {
    
    width: 550px;
    height: 700px;

}

#photos figcaption {
    
    display: flex;
    text-align: center;
    background-color: black;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    padding: 15px;
    border: dotted white;

    }

/*Likes and Hobbies*/
#hobbies {

display: flex;
flex-direction: column;
align-items: center;
border: solid black;
background-color:rgb(48, 48, 48);
color:rgb(255, 232, 156);
max-width: 400px;
margin-left: auto;
margin-right: auto;

}

#genres {

display: flex;
flex-direction: column;
align-items: center;
border: solid black;
background-color:rgb(48, 48, 48);
color:rgb(255, 232, 156);
max-width: 400px;
margin-left: auto;
margin-right: auto;
    
}

#sports {

display: flex;
flex-direction: column;
align-items: center;
border: solid black;
background-color:rgb(48, 48, 48);
color:rgb(255, 232, 156);
max-width: 400px;
margin-left: auto;
margin-right: auto;
margin-bottom: 6rem;
        
}

/*Article*/

#lit {

background-color:rgb(109, 96, 53);
border: solid black;
border-radius: 15%;
color:rgb(255, 232, 156);

}

#lit div {

font-size: medium;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;
margin: 3rem;

}

/*Embedded Video*/
#video {

position: relative;
padding-top: 10%;
padding-bottom: 10%;
text-align: center;
border: solid black;
border-radius: 250%;
background-color:rgb(109, 96, 53);
margin-bottom: 4rem;

}
/*Contact Sheet*/
#contact {

max-width: 400px;
margin-left: auto;
margin-right: auto;
margin-bottom: 75px;

}

#contact h2 {

font-size: 55px;
text-align: center;
border: 1.5px solid #B1DEFA;
border-radius: 1em;
background-color: rgb(48, 48, 48);
color: rgb(105, 180, 255);

}

#contact fieldset {

border: 3px solid rgb(105, 180, 255);
background-color: rgb(48, 48, 48);
padding: 1.5em;
border-radius: 1em;

}

#contact legend {

border: 2px solid rgb(105, 180, 255);
padding: 0.5em;
background-color: rgb(48, 48, 48);
color:rgb(105, 180, 255);

}

#contact fieldset {

display: grid;
margin-top: 1em;
margin-bottom: 0.5em;

}

#contact label {

margin: 1em;

}

#contact fieldset fieldset {

grid-template-columns: auto;
text-align: center;

}

footer {

    color: white;
    font-weight: bold;
    border: solid black;
    background-color: rgb(48, 48, 48);
    padding:10px;
    width:100vw;
    margin:0px;
}

@media screen and (max-width: 760px) {

#photos figure {

display: grid;
grid-template-columns: 2fr 1fr;

}

#video iframe {

    text-align:center;
    height: fit-content;
    width: fit-content;
}

#photos figcaption {

display: flex;
justify-content: center;
align-items: center;

}

#lit div {

max-width: 100%;
columns: 30rem;
text-align: justify;

}

}

@media screen and (max-width: 1200px) {

#photos {

display: grid;

}

#video iframe{

    text-align: center;
    height: 210;
    width: 450;
    }
}
